<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestione Blockchain</title>
</head>
<body onload="build()">
    <h1 id="titolo"></h1>
    <h4 id="nota"></h4>
    <h3>Comandi generici</h3>
    <button class="info" id="getParams">Parametri della blockchain </button>
    <button class="info" id="getInfo">Informazioni della blockchain </button>
    <h3>Gestione addresses</h3>
    <button class="info" id="getAddresses">Vedi i tuoi addresses </button>
    <button class="info" id="newAddress">Ottieni un nuovo address</button>
    <button class="info" id="checkAddress">Controlla un address</button> ###############
    <h3>Permessi</h3>
    <button class="info" id="grantPermissions">Conferisci autorizzazioni</button>
    <button class="info" id="showPermissions">Visualizza le autorizzazioni dei nodi</button> ########
    <button class="info" id="removePermissions">Revoca autorizzazioni</button>
    <h3>Stream</h3>
    <button class="info" id="listStream">Elenco delle stream</button>
    <button class="info" id="createStream">Crea una stream</button>
    <button class="info" id="queryStream">Ricerca dati in una stream</button>


<script src="../js/blockchainInfo.js"></script>
</body>
</html>
