.bg-custom{
    background: #252525;
    color: white;

}
.nav-link{
    color: white;
}
.justify-content-end .nav-link{
    color: #9ed0ff
}

.container{
    margin-top: 3%;
    width: 40%;
    padding:2%;
    border-radius:1%
}
#tipoUtente{
    margin-top: 5%;
    margin-bottom: 5%;
}
#datiUtente{

}
body{
    color: #313437;
    background-color: #eef4f7;
}
