body{
    color: #313437;
    background-color: #eef4f7;
}
.form-container{
    margin-top: 5%;
}
.bg-custom{
    background: #252525;
    color: white;

}
.nav-link{
    color: white;
}
.justify-content-end .nav-link{
    color: #9ed0ff
}
.text-center{
    margin-top: 2%;
}
