<nav class="navbar navbar-expand navbar-light bg-custom">
    <a class="navbar-brand " id="brand" href="/"><img src="../images/car-icon.png" width="100px" height="60px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <a class="nav-link" id="home" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/car/search" id="searchCar" style="display: none">Ricerca auto</a>
        <a class="nav-link" href="/annunci" id="annunci" style="display: none">Annunci</a>
        <a class="nav-link" href="/users/profile" id="userPanel" style="display: none">Pannello utente</a>
        <a class="nav-link" href="#">Per saperne di più</a>
        <a class="nav-link" href="/contacts">Contatti</a>
        <a class="nav-link" href="#" >FAQ</a>
        <div class="collapse navbar-collapse justify-content-end">
            <a class="nav-link" id="login" href="/users/login" id="login">Accedi</a>
            <a class="nav-link" id="signup" href="/users/signup" id="signup">Registrati</a>
            <a class="nav-link" id="logout" href="/users/logout" id="logout" style="display: none">Logout</a>
        </div>
    </div>
</nav>
